[Unit]
Description=Ollama Service
After=network-online.target

[Service]
EnvironmentFile=/etc/ollama/ollamad.conf
ExecStart=/usr/bin/ollama serve
RuntimeDirectory=ollama
WorkingDirectory=/var/lib/ollama
Restart=on-failure
RestartSec=3
Group=ollama
User=ollama
RestartPreventExitStatus=1
Type=simple
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=multi-user.target
