[Unit]
Description=Ollama (ollamad) Service
After=network.target

[Service]
User=ollama
Group=ollama
EnvironmentFile=-/etc/ollamad/ollamad.conf
Environment=OLLAMA_HOME=/var/lib/ollama
WorkingDirectory=/var/lib/ollama
ExecStart=/usr/bin/ollama serve
StateDirectory=ollama
UMask=0077
Restart=on-failure

ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true
CapabilityBoundingSet=
AmbientCapabilities=
LockPersonality=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
